<footer>
    <div class="outer">
        <div class="companydetails">
            <div>&copy; explorit,Inc</div>
            <div>
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
                <a href="/Sitemap">Sitemap</a>
                <a href="/companydetails">Company details</a>
            </div>


        </div>
        <div class="socialmedia">
           <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-twitter"></i>

        </div>
    </div>
</footer>